.thanksContainer{
    text-align: center;
}

.thanksContainer h2{
    margin-bottom: 1rem;
}

.thanksContainer h3{
    margin-bottom: 1rem 0;
}

.thanksContainer p{

    font-size: .9rem;
    margin-bottom: .5rem;

}

.reviewData{
    text-align: left;
}

.reviewData svg{
    margin-left: 5px;
}

.reviewData span{
    font-weight: bold;
}

